---
layout: default
---

<div class="plenary">
  <h2>Invited lectures</h2>
  <p>
    {{ site.data.lectures.invited }}
  </p>
  </table>
</div>

<!-- <div class="organization">
  <h2>Conference organization</h2>
  <table>
    {% for conf in site.data.lectures.conferences %}
    <tr>
      <td style="width: 9em;">{{org.year}}</td>
      <td>{{org.place}}</td>
    </tr>
    {% endfor %}
  </table>
</div> -->

<div class="conferences">
  <h2>Talks and presentations (after 2018)</h2>
  <table>
    {% for conf in site.data.lectures.conferences %}
    <tr>
      <td style="width: 9em;">{{conf.year}}</td>
      <td>{{conf.place}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
