<div class="name">
  <h1>{{ site.data.general.personal.name }}</h1>
</div>
<div class="ava little" style="margin-bottom: 1.5em;">
  <img src="/assets/img/ava.jpg" style="width: min(70%, 25em);">
</div>

<!-- <ul> -->

  <div class="position">
    <i class="fa fa-building-columns"></i> {{ site.data.general.personal.university }}, {{ site.data.general.personal.position }}
  </div>

  <div class="membership">
      <i class="fa fa-cap"></i> <a target="_blank" href="https://www.ae-info.org/ae/Member/Daniel_Mikhail">{{ site.data.general.personal.membership }}</a>
  </div>

  <div class="ORCID">
      <i class="fa-brands fa-orcid"></i> <a target="_blank" href="https://orcid.org/{{ site.data.general.personal.ORCID }}">{{ site.data.general.personal.ORCID }}</a>
  </div>

  <div class="contacts">
      <i class="fa fa-envelope"></i>
      <a class="email" href="mailto:{{site.data.general.personal.email}}"> {{ site.data.general.personal.email }}</a>
  </div>
  <div class="cv">
    <i class="fa fa-file"></i> <a href="#" onclick="event.preventDefault();window.open('/CV_2025.pdf')">CV</a>
  </div>
<!-- </ul> -->
